{% extends 'blog_web/base.html' %}

{% block title %}Acerca{% endblock %}

{% block content %}
<h1>Acerca de mi</h1>
<p>Ante todo bienvenidos a este proyecto final, mi nombre es Emmanuel, soy de la ciudad de La Plata, Buenos Aires, Argentina.
    Estudie Ingenieria en sistames en la UTN FRLP, deje la carrera al rededor del 3 año; actualmente me dedico a arreglar computadoras.
    No se que mas contar, solo quiero agregar que disfrute mucho realizando este curso, ya habia hecho otros 2 similares pero en UTN
    de PHP-SQL (incial) y PHO-SQL (intermedio). Les agradezco su tiempo y gracias por todo...
</p>
{% endblock %}