{% extends 'blog_web/base.html' %}

{% block title %}Articulo{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <h5 class="card-title">{{ art.titulo }}</h5>
                    <p class="card-text">{{ art.contenido }}</p>
                    <img src="{{ art.imagen }}" style="height: 750;width: 550px;" alt="...">
                    <br>                        
                    <p class="card-text">Creado: {{ art.fecha | date:"d/m/Y" }}</p>
                    <p class="card-text">Autor: {{ art.autor }}</p>
                </div>
            </div>
    </div>
</section>
{% endblock %}